# Environment files
.env
env/
*.env

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Models / Vector DB
*.bin
*.pkl
*.faiss

# Dataset
data/datasets/

# Logs
*.log

# IDE
.vscode/
.idea/
